* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#carouselExampleIndicators {
   margin: auto;
}

#ozellikler {
   display: flex;
   align-items: center;
   margin-top: 8%;
}

iframe {
  margin-left: 35%;
}

.card-group {
    display: flex;
    justify-content: space-around;
}

.accordion {
    margin-left: 12%;
}

.video {
    margin-left: 10%;
}

.iletisim {
    box-shadow: 10px 10px rgb(136, 136, 180);
}

.adres {
    margin-left: 15%;
    box-shadow: 5px 5px palevioletred;
}
